#header
  width 680px
  margin 50px auto  
  padding 30px 60px
  overflow auto !important
  border-radius 5px
  background-image -moz-linear-gradient(bottom, #f5f5f5 0%, #fff 45%, #fff 45.07%)
  background-image -o-linear-gradient(bottom, #f5f5f5 0%, #fff 45%, #fff 45.07%)
  background-image -webkit-linear-gradient(bottom, #f5f5f5 0%, #fff 45%, #fff 45.07%)
  background-image linear-gradient(bottom, #f5f5f5 0%, #fff 45%, #fff 45.07%)
  transform translate3d(0,0,0)
  -webkit-animation-timing-function ease-out
  -webkit-animation drop .7s 1    

  .avatar  
    height 80px
    width 80px
    border-radius 40px

  a
    color #999
    &:hover
      color color-link
      text-decoration none 
  
  #main-nav
    margin-top 20px
    margin-let 30px
    font-size 1.2em
    font-family font-title
    line-height 2.5em
    ul
      list-style none
      li
        float left
        margin-left 30px